body,ul,li,p,dl,dt,dd,ol,h1,h2,h3,h4,h5,h6,pre,input,textarea,select,option,form{margin:0;padding:0;list-style:none;}
a{text-decoration: none;}
img{border:0;}
body{
	font-family: "Helvetica Neue","微软雅黑",sans-serif;
	font-size: 15px;
}
*{
	position: relative;
}
img{
	border:none;
}
@mixin zuoyou{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
@mixin shangxia{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
@mixin cube($size){
	width: $size;
	height: $size;
	background: rgb(117,241,168);
}

$number:12;
$l-device:3000px;
$m-device:1068px;
$s-device:768px;
$list:(
	'l':$l-device,
	'm':$m-device,
	's':$s-device
	);
.row{
	position: relative;
	&::after{
		content: '';
		display: block;
		clear:both;
		line-height: 0;
		height: 0;
	}
}
.col{
	position: relative;
}
@each $k in map_keys($list){
	@media screen and (max-width:map_get($list,$k)){
		@for $i from 1 through $number{
			.col.#{$k}#{$i}{
				width: percentage($i/$number);
			}
		}
	}
}
@mixin ons{
	@media screen and (max-width: $s-device){
		@content;
	}
}
@mixin onm{
	@media screen and (max-width: $m-device){
		@content;
	}
}
@font-face{
	font-family: "xiti";
	src:url("../fonts/icons.woff") format("woff");
}
@font-face{
	font-family: "jixi";
	src:url("../fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e (4).woff2") format("woff2");
}
@font-face{
	font-family: "jixi";
	src:url("../fonts/jixi.woff") format("woff");
}
@font-face{
	font-family: "zhengchang";
	src:url("../fonts/zhengchang.woff") format("woff");
}
.col{
    float:left;
}
$number:12;
$l-device:3000px;
$m-device:1068px;
$s-device:768px;
$lists:(
	'l':$l-device,
	'm':$m-device,
	's':$s-device
	);
@each $key in map_keys($lists){
	@media screen and (max-width: map_get($lists,$key)){
		@for $i from 1 through $number{
		.col.#{$key}#{$i}{
			width:percentage($i/$number);
		  }
	    }
	}
} 